<!doctype html>
<html>
<head>
    <title>FeedTime: Pinterest</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('.static',filename='pinterest.css') }}">
    <script type="text/javascript" src="{{ url_for('.static', filename='pinterest.js') }}">
    </script>
</head>
<body>
<div>
    <form id="pinform" action="/pinterest/addpin" method='post'> 
        <div>
			From:
			<select name="source_board" id="source" onchange="requestPins(event.target)" >
				{% for board in boards %}
					<option value="{{ board[0] }}/{{ board[1] }}">{{board[1]}}</option>
				{% endfor %}
			</select>
        </div>
        <div>
			Pin:
				<select name="pin" id="pinboard" style="width:200px">
				</select>
        </div>
        <div>
			To:
			<select name="target_board">
				{% for board in boards %}
					<option value="{{ board[0] }}/{{ board[1] }}">{{board[1]}}</option>
				{% endfor %}
			</select>
        </div>
        <div>
            Time to post:
			<input type="datetime-local" name="time"/>
        </div>
        <div>
            Note:
			<input type="text" name="note"/>
        </div>
        <div>
            Link:
			<input type="text" name="link" value="http://blossomtostem.net"/>
        </div>
        <div>
			<button type="submit" form="pinform">Schedule it</button>
        </div>
    </form> 
</div>
<div>
    {% if entries %}
        <table class="entries">
            <th> Board </th>
            <th> Note </th>
            <th> Link </th>
            <th> Image </th>
            <th> Time </th>
            <th> Is Pinned </th>
            {% for entry in entries %}
            <tr> 
                <td>{{ entry['targetboard'] }}</td> 
                <td>{{ entry['note'] }}</td> 
                <td>{{ entry['link'] }}</td> 
                <td>{{ entry['image_url'] }}</td> 
                <td>{{ entry['time']}}</td> 
                {% if entry['is_posted'] == 1  %}
                    <td><img src=" {{ url_for('.static', filename='check-mark.png') }}"></td> 
                {% else %}
                    <td></td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    {% endif %}
</div>
</body>
</html>


