<!doctype html>
<html>
<head>
    <title>FeedTime: Pinterest</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('.static',filename='pinterest.css') }}">
    <script type="text/javascript" src="{{ url_for('.static', filename='pinterest.js') }}">
    </script>
</head>
<body>
<div>
    <form id="pinform" action="/pinterest/addpin" method='post'> 
        <div>
            <span>From:</span>
			<select name="source_board" id="source" onchange="requestPins(event.target)" >
				{% for board in boards %}
					<option value="{{ board[0] }}/{{ board[1] }}">{{board[1]}}</option>
				{% endfor %}
			</select>
        </div>
        <div>
            <span>Pin: </span>
			<select name="pin_id" id="pinboard" style="width:400px">
			</select>
        </div>
        <div>
			<span>To:</span>
			<select name="target_board">
				{% for board in boards %}
					<option value="{{ board[0] }}/{{ board[1] }}">{{board[1]}}</option>
				{% endfor %}
			</select>
        </div>
        <div>
            <span>Time:</span>
			<input type="datetime-local" name="time"/>
        </div>
        <div>
            <span id="notefield">Note:</span>
			<textarea name="note"></textarea>
        </div>
        <div>
            <span>Link:</span>
			<input type="text" name="link" value="http://blossomtostem.net" style="width:300px"/>
        </div>
        <div>
			<button type="submit" form="pinform" class="submit-button">Schedule it</button>
        </div>
    </form> 
</div>
<div>
    {% if entries %}
        <table class="entries">
            <th> Is Pinned </th>
            <th> Board </th>
            <th> Link </th>
            <th> Image </th>
            <th> Date </th>
            <th> Time </th>
            <th> Note </th>
            {% for entry in entries %}
            <tr> 
                <td style="width:20px;">
                    {% if entry['is_posted'] == 1  %}
                        <img class="check-mage" style="height:20px;width:20px" src=" {{ url_for('.static', filename='check-mark.png') }}">
                    {% endif %}
                </td>
                <td>
                    <a href="http://pinterest.com/{{ entry['targetboard'] }}"> {{ entry['board'] }} </a>
                </td> 
                <td><a href="{{ entry['link'] }}">Link</a></td> 
                <td><img src="{{ entry['image_url'] }}"></td> 
                <td>{{ entry['time'][0:10] }}</td> 
                <td>{{ entry['time'][11:] }}</td> 
                <td>{{ entry['note'] }}</td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}
</div>
</body>
</html>


