<!doctype html>
<html>
<head>
    <title>FeedTime: Pinterest</title>
    <script type="text/javascript" src="{{url_for('.static',filename='pinterest.js') }}">
    </script>
</head>
<body>
    <form id="pinform" action="/pinterest/schedule"> 
        <div>
			From:
			{% if boards %}
				<select name="source_board" id="source" onchange="makeRequest(event.target)" >
					{% for board in boards %}
						<option value="{{ board[0] }}/{{ board[1] }}">{{board[1]}}</option>
					{% endfor %}
				</select>
			{% endif %}
        </div>
        <div>
			Pin:
				<select name="pin" id="pinboard" style="width:200px">
				</select>
        </div>
        <div>
			To:
			{% if boards %}
				<select name="target_board">
					{% for board in boards %}
						<option value="{{ board[0] }}/{{ board[1] }}">{{board[1]}}</option>
					{% endfor %}
				</select>
			{% endif %}
        </div>
        <div>
            Time to post:
			<input type="datetime-local" name="time"/>
        </div>
        <div>
            Note:
			<input type="text" name="note"/>
        </div>
        <div>
            Link:
			<input type="text" name="link" value="http://blossomtostem.net"/>
        </div>
        <div>
			<button type="submit" form="pinform">Schedule it</button>
        </div>
    </form> 
</body>
</html>


